:root {
  
    --main-color: #09014F;
    --dark-blue: #00285B;
    --blue-color: #00204A;
    --smoke-color: #F8F8F9;
    --white-color: #ffff;
    --skyblue: #00BBF0;
    --black-color : #0000;
    --gradient: linear-gradient(to right, rgba(156, 10, 178, 0.79), rgba(117, 7, 134, 0.5));
    /* --gre#007FA4 */
  
  
  
  }
  
  